.navbar{
    background-color: black;
    height:70px;
    padding-bottom: 30px;
}
.navbar-item{
    color: white;
}
#div1{
    margin-left:8px;
    font-size: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
}
#div2{
    margin-left:70px;
    font-size: 15px;
    margin-top: 20px;
}
#link1{
    color: white;
    font-size: 20px;
    margin-left: 25px;
}
#link2{
    font-size: 20px;
}
#email{
    margin-right: 800px;
    margin-top: 5px;
}
#contact{
    margin-right: 20px;
    margin-left: -720px;
    margin-top: 5px;
}

#btn1{
    margin-right: -20px;
    height: 50px;
    width: 250px;
    border-radius: 25px;
}
#btn1:hover{
    background-color: white;
    color: blue;
}
#btn1:focus, #btn1:active{
  outline: none !important;
  box-shadow: none !important;
}
#search{
    margin-left: 300px;
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 45px;
    width: 200px;
    border:0.5px solid gray;
}
#img1{
    margin-left: 150px;
    margin-top: 5px;
}
#img2{
    height: 30px;
    width: 27px;
    margin-top: 8px;
    margin-left: 20px;
}
.d-block{
    min-height:600px;

}
.carousel-indicators button {
    height: 12px!important;
    width: 12px!important;
    border-radius: 50%;
  }
.carousel-indicators .active {
    background-color: #0a7be4;
}
.cap4{
    padding-bottom: 300px;
    margin-left: 0px;
}
#btn2{
    border-radius: 500px;
    background-color: #0a7be4;
    width: 175px;
    height: 65px;
    /* position: relative; */
    left: 0px;
}
#btn2:hover {
    background-color: transparent;
    color: #0a7be4;
    cursor: pointer;
}
.top-left.cap1 {
    position: absolute;
    top: 125px;
    left: -670px;
  }
.top-left.cap2 {
    position: absolute;
    top: 155px;
    left: -625px;
  }
.top-left.cap3 {
    position: absolute;
    top: 200px;
    left: -565px;
  }
/* .top-left.cap4 {
    position: absolute;
    top: 300px;
    left: -400px;
  } */
#grid1{
    margin-top: 100px;
}
#features{
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
#card1{
    background-color: #0000ff;
    border:0;
    width:250px;
}
.cardtitle1{
    color: white;
    text-align: center;
}
.cardtext1{
    color: white;
    text-align: center;
}
.cardtitle2{
  color: blue;
  text-align: center;
}
.cardtext2{
  color: blue;
  text-align: center;
}
#card2{
    background-color: rgb(228, 252, 255);
    border:0;
}
.topspace2{
  margin-top: 15px;
}
#cardtitle2{
        margin-top: 17.5px;
        color: blue;
}
#bluefont{
    color: blue;
}
#card2:hover{
    transition: 0.7s;
    background-color: blue;
}
#card2:hover .cardtitle2{
  color: white;
}
#card2:hover .cardtext2{
  color: white;
}
.carousel-caption{
    position: relative;
    left: -20px;
    top: -500px;
    text-align:left;
}

.leftspace{
    margin-left:50px ;
}
.extra{
    margin-bottom: -300px;
}
#btn3{
    height: 50px;
    width: 150px;
    border-radius: 25px;
    margin-top: 10px;
}
#btn3:hover{
    background-color: white;
    color: blue;
}
.cardtop{
    margin-top: 50px;
}
.img3{
    margin-top: 80px;
    height: 175px;
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
.background {
    position: relative;
}

.layer {
    background-color:rgba(107, 189, 214, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 175px;
    margin-top: 80px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

  .sectionClass {
    padding: 20px 0px 50px 0px;
    position: relative;
    display: block;
    margin-top: -100px;
    width:800px;
    margin-left: 230px;
  }
  
  .fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
  }
  
  
  .sectiontitle {
    background-position: center;
    margin: 30px 0 0px;
    text-align: center;
    min-height: 20px;
  }
  
  .sectiontitle h2 {
    font-size: 30px;
    color: #222;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  
  .headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
  }
  
  
  .projectFactsWrap{
      display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  #projectFacts .fullWidth{
    padding: 0;
  }
  
  .projectFactsWrap .item{
    width: 25%;
    height: 100%;
    padding: 50px 0px;
    text-align: center;
  }
  
  .projectFactsWrap .item:nth-child(1){
    background: rgb(16, 31, 46);
  }
  
  .projectFactsWrap .item:nth-child(2){
    background: rgb(18, 34, 51);
  }
  
  .projectFactsWrap .item:nth-child(3){
    background: rgb(21, 38, 56);
  }
  
  .projectFactsWrap .item:nth-child(4){
    background: rgb(23, 44, 66);
  }
  
  .projectFactsWrap .item p.number{
    font-size: 40px;
    padding: 0;
    font-weight: bold;
  }
  
  .projectFactsWrap .item p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 0;
    padding: 10px;
    font-family: 'Open Sans';
  }
  
  
  .projectFactsWrap .item span{
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 2px;
    display: block;
    margin: 0 auto;
  }
  
  
  .projectFactsWrap .item i{
    vertical-align: middle;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
  }
  
  
  .projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
    color: white;
  }
  
  .projectFactsWrap .item:hover span{
    background: white;
  }
  #line1{
      text-align: center;
      margin-top: 75px;
      font-weight: bold;
      font-size: 30px;
      color: blue;
     }
  #line2{
      text-align: center;
  }
  .gridimg{
      width: 100%;
      margin-top: 30px;
  }
  
  .topspace{
      margin-top: -30px;
  }
  #left{
      margin-left: -220px;
  }
  
  .container1 .btn {
    position: absolute;
    top: 58%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color:blue;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    background-color: white;
  }
  .cardimg3{
    height: 50px;
    width: 50px;
    margin-left: 170px;
  }
  #card3{
    height: 200px;
    border:0;
    width: 100%;
  }
  #card3:hover{
    transition: 0.7s;
    background-color: blue ;
  }
  #card3:hover .cardtext3{
    color: white;
  }
  #card3:hover #cardtitle3{
    color: white;
  }
  #cardtitle3{
    color: blue;
    margin-top: 20px;
  }
  .cardtext3{
    color: blue;
    text-align: center;
  }
  .borderright{
    border-right: 0.3px solid rgb(214, 214, 214);
  }
  .padding-0{
    padding-right:0;
    padding-left:0;
}
  /* .borderright:hover{
    transition: 0.7s;
    background-color: blue;
  } */
  .borderbottom{
    border-bottom: 0.3px solid rgb(214, 214, 214);
  }
  
  /* .topspace1{
    margin-top: 30px;
  } */
.img4{
  height: 600px;
  width: 100%;
}
.layer1 {
  background-color:rgba(107, 189, 214, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
}
.container2 {
  position: relative;
  color: white;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
  margin-right: 365px;
}
#line3{
  font-size: 15px;
  font-weight: normal;
  margin-top: 160px;
  margin-right: 172px;
}
#form1{
  margin-top: 180px;
  margin-right: 155px;
}
::placeholder { 
  color: white !important;
}
.form-control{
  background: transparent;
}
.form-control:focus, .form-control:active{
  background: transparent;
  border:0 !important;
  outline:0 !important;
  box-shadow: none !important;
}
input[type="email"] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.5px solid white;
}
input[type="password"] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.5px solid white;
}
#inputZip{
  width:200px;
  margin-left: 445px;
}
#inputState{
  margin-left: 365px;
  width: 200px;
}
input[type="text"] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.5px solid white;
}
.form-select{
  color: white !important;
}
.form-select:focus, .form-select:active{
  border:0 !important;
  outline:0 !important;
  box-shadow: none !important;
}
#inputState{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.5px solid white;
}
#inputMsg{
  margin-top: 100px;
  margin-left: 360px;
  width:200px;
}
.btn0{
  height: 50px;
  width: 208px;
  border-radius: 25px;
  margin-top: 136px;
  margin-left: 515px;
  color: blue;
  font-size: 15px;
  border-color: white;
  text-align: center;
}
#newtext{
  text-align: center;
  font-size: 30px;
  color:blue;
  margin-top: 100px;
  font-weight: bolder;
}
#nextline{
  text-align: center;
  margin-top: 40px;
}
.imglast{
  width:300px;
  height:300px;
  margin-left: -15px;
  margin-top: -15px;
}
#card4{
  width: 308px;
  border-color: lightblue;
  border-width: 3px;
}
.cardspace{
  margin-left: 100px;
}
.cardspace1{
  margin-left: 50px;
}
.cardspace2{
  margin-right: 80px;
}
.texth:hover{
  color: blue;
  transition: 0.4s;
}
#btnlast{
  margin-right: -20px;
  height: 50px;
  width: 131px;
  border-radius: 25px;
}
#btnlast:hover{
  background: transparent;
  color: blue;
}
.bi-chat::before{
  margin-left: 160px;
}
.round{
  width: 100px;
  border-radius: 50%;
  height: 100px;
  margin-left: 20px;
}
.floating{
  width: 50%;
  float:right;
  margin-left: -80px;
}
.card5{
  margin-top: 100px;
  width:350px;
  margin-left: 50px;
  border-width: 3px;
  border-color: lightblue;
}
.height1{
    height: 425px;
}
.leftsp{
  margin-left: 157px;
  margin-top: 60px;
}
.container3{
  background-color: black;
  height: 500px;
  margin-top: 100px;
}
.whitefont{
  color: white;
}
#question{
  margin-top: 60px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 40px;
}
.loc{
  margin-left: 35px;
}
.last1{
  margin-left: 35px;
  height: 70px;
  width: 70px;
}
#blog1{
  margin-top: -70px;
  margin-left: 120px;
}
#blog1:hover{
  transition: 0.5s;
  color: blue;
}
#blog{
  margin-top: 60px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 40px;
}
#links{
    margin-top: -245px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 800px;
    color: white;
}
#adjust{
  color: lightgray;
  margin-left: 802px;
  font-size: 14px;
}
#adjust:hover{
  color: white;
}
#sub{
    margin-left: 950px;
    margin-top: -232px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#inputEmail1{
  width: 200px;
  margin-left: 950px;
  margin-top: 35px;
  border:0;
  background-color: rgb(48, 47, 47);
}
.btnlast1{
  margin-left: 950px;
  background-color: rgb(89, 156, 197);
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border:0;
  color: white;
}
#connect{
   margin-left: 950px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.icons{
  margin-left: 950px;
}
.img5 {
  display: block;
  width: 100%;
  height: auto;
}
.col1 {
  position:relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.col1:hover .overlay {
  opacity: 1;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}